html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(232, 238, 238);
    margin: 0;
}

h1,
h2 {
    font-size: 16px;
    text-align: center;
}

h3 {
    font-size: 25px;
    text-align: center;
}

h5 {
    font-size: 20px;
}

h6 {
    font-style: italic;
    font-size: 17px;
    margin-bottom: 0;
    margin-top: 10;
}

hr {
    border: 2px solid darkgray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.menu ul {
    padding: 0;
    line-height: 4.5em;
}

.menu li {
    list-style: none;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 25px;
    width: 100%;
}

.menu li:nth-of-type(1) {
    background-image: url(images/icon-portfolio.jpg);
}

.menu li:nth-of-type(2) {
    background-image: url(images/icon-about.jpg);
}

.menu li:nth-of-type(3) {
    background-image: url(images/icon-contact.png);
}

.menu a {
    display: block;
    text-decoration: none;
    padding-left: 45px;
    font-size: 1.25em;
    color: #0c2b86;
    font-weight: bold;
}

.menu a:hover {
    background-color: rgba(130, 132, 132, 0.6);
}

footer {
    clear: both;
    float: right;
    margin-right: 25px;
}

footer p a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}


/* Profile Section */
/*******************/

.main_profile {
    width: 80%;
    float: right;
    overflow: auto;
}

.resume {
    margin: 25px;
}

.resume li {
    font-weight: normal;
    font-size: 15px;
}



/* Portfolio Section */
/*********************/

img.Portfolio {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

img.Portfolio:hover {
    box-shadow: 5px 10px 8px #888888;
}

.main_portfolio article {
    background-color: rgb(232, 238, 238);
}


/* Contact Section */
/*******************/

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #c9cbce;
    color: #35477d;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #86878a;
}


form {
    border-radius: 5px;
    background-color: #35477d;

    padding: 20px;
    margin-top: 10px;
}

.container h7 {
    font-weight: bold;
    color: #35477d
}

.container label {
    color: rgba(255, 255, 255, 0.5);
}

.contact-info {
    border-radius: 5px;
    padding: 40px 0px;
    color: rgba(255, 255, 255, 0.5);
    background: #35477d;
    height: 417px;
}

.contact-info ul {
    line-height: 5em;
}

.contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
}

.contact-info ul li .wrap-icon {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
}

.contact-info h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}

.contact-info p {
    margin: 10px 40px;
    padding-bottom: 20px;
}

.d-flex {
    list-style: none;
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 25px;
    width: 100%;
}

.wrap-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
}

.icon-room {
    content: url(images/icon-location.png);
}

.icon-phone {
    content: url(images/icon-phone.png);
}

.icon-email {
    content: url(images/icon-email.png);
}


.main_contact,
.main_portfolio {
    display: none;
}


/**********/
/* Mobile */
/**********/
@media screen and (max-width:428px) {
    .Profile {
        display: block;
        width: 30%;
        margin: auto;
        float: left;
    }

    .menu {
        background-color: white;
        width: 100%;
        box-shadow: 5px 10px 8px #888888;
    }

    .menu ul {
        margin-top: 0;
        line-height: 3em;
    }

    .menu h1 {
        padding-top: 60px;
    }

    .menu hr {
        clear: both;
    }

    .menu nav {
        clear: both;
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }

    .menu li {
        width: 200px;
        margin: auto;
    }

    .main_profile {
        width: 100%;
        overflow: auto;
    }

    article {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .img_cont {
        display: block;
        width: 100%;
        height: 60%;
    }



    /* Contact Section*/
    /******************/

    .main_contact {
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
    }

    .contact_details {
        display: block;
        width: 90%;
        margin: auto;
    }

    .contact_form {
        display: block;
        width: 90%;
        margin: auto;
        padding-top: 30px;
    }

}


/***********/
/* Tablet */
/***********/
@media screen and (min-width:429px) and (max-width:810px) {

    .Profile {
        display: block;
        width: 30%;
        margin: auto;
        border-radius: 50%;
        float: left;
    }

    .menu ul {
        margin-top: 0;
        line-height: 3em;
    }

    .main_portfolio,
    .main_profile,
    .main_contact {
        clear: both;
        width: 100%;
        height: 100%;
    }


    .menu nav::after {
        clear: both;
        content: "";
        display: table;
    }

    .menu nav {
        display: inline-block;
        width: 70%;
    }

    .menu li {
        width: 200px;
        margin: auto;
    }


    .menu {
        background-color: white;
        width: 100%;
        padding: 20px;
        box-shadow: 5px 10px 8px #888888;
    }

    .menu::after {
        clear: both;
        content: "";
        display: table;
    }


    /* Portfolio Section*/
    /********************/

    .main_portfolio {
        width: 100%;
        overflow: auto;
    }

    .img_cont {
        display: block;
        width: 100%;
        height: 40%;
    }

    .portfolio_body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    article {
        width: 40%;
        text-align: center;
        margin-bottom: 30px;
        background-color: white;
    }

    h4 {
        margin-top: 15px;
    }


    /* Contacte Section*/
    /*******************/

    .main_contact {
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
    }

    .container_1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .contact_details {
        display: block;
        width: 45%;
    }

    .contact_form {
        width: 45%;
    }

}

/***********/
/* Desktop */
/***********/
@media screen and (min-width:811px) {

    .Profile {
        padding-top: 20px;
        display: block;
        border-radius: 50%;
        width: 65%;
        height: 35%;
        margin: auto;
    }

    .menu {
        background-color: white;
        width: 20%;
        height: 100vh;
        position: fixed;
        float: left;
        overflow: auto;
        box-shadow: 5px 10px 8px #888888;
    }

    
    /* Portfolio Section*/
    /********************/

    .main_portfolio {
        width: 80%;
        float: right;
        overflow: auto;
    }


    .img_cont {
        display: block;
        width: 100%;
        height: 60%;
    }

    .portfolio_body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    article {
        width: 40%;
        text-align: center;
        margin-bottom: 30px;
        background-color: white;
    }

    h4 {
        margin-top: 15px;
    }


    /* Contacte Section*/
    /*******************/

    .main_contact {
        width: 80%;
        float: right;
        overflow: auto;
        box-sizing: border-box;
    }

    .container_1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .contact_details {
        display: block;
        width: 45%;
    }

    .contact_form {
        width: 45%;
    }

}